---
import Layout from '@layouts/default.astro';
import { Image } from 'astro:assets';
import ArrowRight from '~icons/ph/arrow-right';
import LandingImage from '@assets/lea-l-q--99IzY8Lw-unsplash.jpg';
import ImproveExistingSystemsImage from '@assets/forbedre-eksisterende.jpg';
import IntegrationsImage from '@assets/integrasjoner.jpg';
import CreateSomethingNewImage from '@assets/utvikle-noe-nytt.jpg';
import IntroCard from '@components/intro-card.astro';

const url = Astro.site;

const introCards = [
  {
    image: CreateSomethingNewImage,
    imageAlt: "Bilde av stammen til et bjørketre ved noen steiner",
    title: 'Skreddersydd programvare',
    description: `
      Se for deg en løsning som er unikt tilpasset dine behov, skaper enda bedre arbeidsflyer, og gir deg
      noe som kan skaleres og utvikle videre i takt med nye brukerbehov og endringer. Nice, ikke sant?
    `,
  },
  {
    image: IntegrationsImage,
    imageAlt: "Naturbilde av bjørketrær med løv på bakken",
    title: 'Skap effektivitet og vekst med egne integrasjoner',
    description: `
      Ved å sy sammen de ulike systemene i bedriften kan du legge til rette for sømløse arbeidsflyer og 
      alltid oppdatert data i alle systemer. Bedre datainnsamling og nøyaktig rapportering gir et solid
      grunnlag for gode beslutninger, og en konkurransefordel som vokser med bedriften din.
    `,
  },
  {
    image: ImproveExistingSystemsImage,
    imageAlt: "Grønt naturbilde med bjerktrær",
    title: 'Forbedre eksisterende systemer',
    description: `
      Noen ganger det best å bygge videre på det du allerede har invistert i. Ved å videreutvikle dine
      nåværende systemer kan du fjerne feil, skape nødvendige integrasjoner, og rydde opp i komplisert kode.
      Dette gir deg løsninger som er tilpasset nye forretningsbehov og endringer i teknologien.
    `,
  },
];
---

<Layout
  title="Bjerk - Vi skaper en bedre verden gjennom teknologi"
  socialMediaTitle="Vi skaper en bedre verden gjennom teknologi 🌳"
  socialMediaDescription="✨ Vi i Bjerk tror på kraften av teknologi for å forme en bedre fremtid! Bli med på reisen vår mens vi transformerer måten vi lærer, tenker, jobber og kommuniserer på. Sammen skaper vi digitale løsninger for en lysere og smartere verden"
  description="Oppdag hvordan Bjerk driver global forandring gjennom teknologi. Vi forenkler og forbedrer læring, tenkning, arbeid og kommunikasjon med skreddersydde digitale løsninger. Bli med oss i å skape en lysere fremtid."
  path="/"
  schema={{
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: 'Bjerk',
    alternateName: ['Bjerk AS', 'BJRK', 'BK', 'bjerk.io'],
    url,
  }}
>
  <main>
    <div class="hero">
      <h1>La folk gjøre mer av det de er gode på</h1>
      <p>
        Digitale produkter og løsninger som er tilpasset din bedrifts unike
        behov og arbeidsflyter.
      </p>
      <a href="/om" class="button">
        Les mer om oss <ArrowRight />
      </a>
    </div>
    <Image src={LandingImage} alt="Abstract art image" class="landing-image" />
    <section class="intro-cards">
      {
        introCards.map(item => (
          <IntroCard image={item.image} imageAlt={item.imageAlt}>
            <div class="intro-content">
              <h2>{item.title}</h2>
              <p>{item.description}</p>
            </div>
          </IntroCard>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
  }

  .hero {
    max-width: 60ch;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .intro-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
  }

  .landing-image {
    width: 100%;
    height: auto;
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-block-start: 2rem;
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    line-height: 1.1;
    font-weight: 900;
    text-wrap: pretty;
  }

  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
