---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import formatHumanDate from 'src/utils';

export type Props = CollectionEntry<'post'>;

const { data, slug } = Astro.props;
const humanDate = formatHumanDate(data.date);
---

<a href={data.sameAs ? data.sameAs[0] : `/artikler/${slug}`}>
  <article>
    <Image 
    width={550}
    height={350}
    src={data.image} 
    alt={data.title} 
    class="project-image" />
    <header>
      <time datetime={data.date.toISOString()}>
        {humanDate}
      </time>
      <div class="description">
        <h2>{data.title}</h2>
        <p>{data.description}</p>
      </div>
    </header>
  </article>
</a>

<style>
  a {
    display: block;
    color: inherit;
    text-decoration: inherit;
    outline: 0;
  }

  a:hover {
    color: inherit;
  }

  .project-image {
    width: 100%;
    aspect-ratio: 11/7;
    height: auto;
    object-fit: cover;
  }


  time {
    display: block;
    font-size: 0.8em;
    margin-top: 0.5rem;
    line-height: 1;
  }
  h2 {
    margin-block-end: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    color: hsl(var(--blue-base) 10%);
  }

  .description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

</style>
