---
import type { WithContext, Thing } from "schema-dts";
import "@fontsource/ibm-plex-sans";
import { jsonLd } from "./json-ld";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import { ViewTransitions } from "astro:transitions";

export type Props = {
  /**
   * The title of the page. The ideal length is approximately 60 characters.
   * When exceeding this limit, search engines will truncate the title.
   *
   * @default Bjerk
   */
  title?: string;

  /**
   * The description of the page. The ideal length is between 70 and 155 characters.
   * Minimum length is 70 characters. When exceeding this limit, search engines will
   * truncate the description.
   *
   * @default Default description
   */
  description?: string;

  /**
   * The headline on the page. The ideal length is approximately 47 characters.
   *
   * @default title
   */
  headline?: string;

  /**
   * The heading on the page next to headline. Should be longer than headline.
   *
   * @default title
   */
  heading?: string;

  /**
   * The title for social media platforms. The ideal length is approximately 47 characters.
   * When exceeding this limit, platforms will truncate the title. LinkedIn will truncate
   * the title at 119 characters.
   *
   * @default Uses the title prop
   */
  socialMediaTitle?: string;

  /**
   * The description for social media platforms. Should not exceed 85 characters to fit most platforms.
   *
   * @default Uses the description prop
   */
  socialMediaDescription?: string;

  /**
   * Images for social media platforms. The ideal size is 1200 x 630 pixels.
   * When providing more than one image, the first image will be used, but some
   * platforms will allow the user to choose which image to use.
   *
   * @default ['/images/social-media-image.png']
   */
  images?: string[];

  /**
   * The type of the page.
   *
   * @default website
   */
  type?: "website" | "article";

  /**
   * The path of the page. Used to generate the canonical URL.
   */
  path?: string;

  /**
   * The date the page was published. Only used with type = 'article'.
   */
  articlePublishDate?: Date;

  /**
   * The date the page was last modified. Only used with type = 'article'.
   */
  articleAuthor?: string;

  /**
   * JSON-LD structured data for the page.
   */
  schema?: WithContext<Thing> | WithContext<Thing>[];
};

const defaultDescription = `
  Bjerk er et dialogdrevet byrå innen digital produktutvikling og programvareutvikling. 
  De siste 12 årene har vi endret måten mennesker lærer, tenker, jobber, og kommuniserer
  innen eiendom, regnskap og forvaltning.
  `;

const defaultTitle = "Bjerk";

const defaultImage = new URL("/images/social-media-image.png", Astro.site);

const {
  title = defaultTitle,
  description = defaultDescription,
  socialMediaTitle = title ?? defaultTitle,
  socialMediaDescription = description ?? defaultDescription,
  images = [defaultImage.toString()],
  type = "website",
  path,
  schema,
  articleAuthor,
  articlePublishDate,
} = Astro.props;

// const parsedImages = images.map((image) => parseSocialMediaImage(image));
// const [image] = parsedImages;

const [image] = images;

const makeUrl = (newPath: string) => new URL(newPath, Astro.site).toString();

const canonical = new URL(path, Astro.site);
---

<html lang="nb" x-data="{ colorScheme: 'light' }">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={makeUrl("favicon.svg")} />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={makeUrl("favicon-16x16.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={makeUrl("favicon-32x32.png")}
    />
    <link rel="shortcut icon" href={makeUrl("favicon.ico")} />
    <link rel="mask-icon" href={makeUrl("mask-icon.svg")} color="#FFFFFF" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/plain" rel="author" href={makeUrl("humans.txt")} />
    <ViewTransitions />

    <title>{title}</title>
    <meta name="robots" content="index,follow" />
    <meta name="description" content={description} />
    {canonical && <link rel="canonical" href={canonical} />}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={socialMediaTitle} />
    <meta name="twitter:description" content={socialMediaDescription} />
    <meta name="twitter:image" content={image} />

    <meta property="og:url" content={canonical} />
    <meta property="og:type" content={type} />
    <meta property="og:title" content={socialMediaTitle} />
    <meta property="og:description" content={socialMediaDescription} />
    {images.map((img) => <meta property="og:image" content={img} />)}
    <meta property="og:site_name" content="Bjerk" />
    <script
      data-goatcounter="https://bjerk.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>

    {
      type == "article" && articleAuthor && (
        <meta property="article:author" content={articleAuthor} />
      )
    }
    {
      type == "article" && articlePublishDate && (
        <>
          <meta
            name="publish_date"
            property="og:publish_date"
            content={articlePublishDate.toISOString()}
          />
          <meta
            property="article:published_time"
            content={articlePublishDate.toISOString()}
          />
        </>
      )
    }

    {schema && <script type="application/ld+json" set:html={jsonLd(schema)} />}
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs-intersect/3.14.3/cdn.min.js"
      integrity="sha512-zUi+vHO/A+Mh3PQDYpAhzo3GGnrSTdOdyUkFby6I2p+k5kOhVNDMJMnhaJgZtecorfhS/+Y5PbkDu7iWsnk8+A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body :data-color-scheme="colorScheme">
    <Header />
    <!-- <button @click="colorScheme = colorScheme === 'light' ? 'dark' : 'light'"> -->
    <!--   Bytt farge -->
    <!-- </button> -->
    <slot />
    <Footer />
    <style is:global>
      :root {
        /* Base Hues */
        --base-frostbite: 181 51%;
        --base-grapetastic: 250 100%;
        --hue-sandglow: 36 92%;

        --color-app-bg: #ffffff;
        --color-app-text: black;
        --color-app-link: hsl(var(--base-frostbite) 30%);
        --color-app-link-hover: hsl(var(--base-frostbite) 50%);
        --color-app-focus-intense: hsl(var(--base-frostbite) 40%);
        --color-app-focus-subtle: hsl(var(--base-frostbite) 95%);

        --color-subtle-bg: hsl(var(--base-frostbite) 95%);
        --color-subtle-border: hsl(var(--base-frostbite) 95%);
        --color-subtle-text: hsl(var(--base-frostbite) 40%);

        --color-card-bg: hsl(var(--base-frostbite) 30% 98%);
        --color-text-subtle: hsl(var(--base-frostbite) 40%);

        --color-emphasis-bg: hsl(var(--base-frostbite) 85%);
        --color-emphasis-text: hsl(var(--base-frostbite) 10%);

        --color-focus-bg: hsl(var(--base-grapetastic) 90%);
        --color-focus-text: hsl(var(--base-grapetastic) 5%);

        --container-width: min(1620px, 100% - 4rem);

        --border-radius: 0.25rem;
        --border-radius-sm: 0.125rem;
      }

      main {
        margin-bottom: 4rem;
      }

      body,
      html {
        min-height: 100vh;
        background-color: var(--color-app-bg);
        font-family:
          "IBM Plex Sans",
          system-ui,
          -apple-system,
          sans-seri;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-app-text);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: "kern", "liga";
        margin: 0;
        -webkit-text-size-adjust: 100%;
        touch-action: manipulation;
        caret-color: hsl(var(--base-frostbite) 40%);
        transition:
          color 0.4s cubic-bezier(0.65, 0.05, 0.36, 1),
          background-color 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      body[data-color-scheme="dark"] {
        --color-app-text: white;
        --color-app-bg: hsl(var(--base-frostbite) 1%);
        --color-subtle-bg: hsl(var(--base-frostbite) 15%);
        --color-subtle-border: hsl(var(--base-frostbite) 15%);
        --color-app-link: hsl(var(--base-frostbite) 60%);
        --color-app-link-hover: hsl(var(--base-frostbite) 80%);
      }

      *,
      ::before,
      ::after {
        box-sizing: border-box;
      }

      ::selection {
        --color-selection-bg: var(--color-focus-bg);
        --color-selection-text: var(--color-focus-text);
        background: var(--color-selection-bg);
        color: var(--color-selection-text);
      }

      body *::-webkit-scrollbar {
        background-color: var(--color-focus-bg);
      }

      body *::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--color-focus-bg);
        border: 3px solid var(--color-focus-bg);
      }

      body *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-app-focus-intense);
      }

      p {
        margin-inline-end: 1em;
      }

      a {
        --color-link: var(--color-app-link);
        --color-link-hover: var(--color-app-link-hover);

        color: var(--color-link);
        text-decoration-color: var(--color-link);
        text-decoration-skip-ink: none;
        text-decoration-thickness: 0.125em;
        text-underline-offset: 0.125em;
      }

      @media (hover) {
        a:hover {
          --color-link: var(--color-link-hover);
        }
      }

      a:focus-visible {
        outline-color: var(--link-color);
        outline-offset: 0.4em;
        border-radius: 0.225em;
      }

      img {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
      }

      input,
      textarea {
        width: auto;
        padding: 1em;
        resize: none;
        font-family:
          "Sora Variable",
          system-ui,
          -apple-system,
          sans-seri;
        transition: all 0.5s ease;
        max-width: 60ch;
        background-color: transparent;
      }

      input {
        border: none;
        border-block-end: 1px solid grey;
        padding: 16px 0;
      }

      textarea {
        border-radius: 8px;
      }

      textarea:focus,
      input:focus {
        background-color: var(--color-focus-bg);
        padding: 16px 1em;
        background-color: white;
      }

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    </style>
  </body>
</html>