---
import type { MarkdownLayoutProps } from 'astro';
import Layout, { type Props as DefaultLayoutProps } from './default.astro';
import Brief from '@components/brief.astro';
<<<<<<< HEAD
import Image from 'astro/components/Image.astro';
=======
>>>>>>> 1b7c81e (VIP: Add new components to default pages and edit about page)

export type Props = MarkdownLayoutProps<DefaultLayoutProps>;
const { frontmatter } = Astro.props;
---

<Layout 
  {...frontmatter}
>
  <main>
<<<<<<< HEAD
    <article>
      <div class="hero">
        { frontmatter.headline && (
          <Brief 
          title={frontmatter.headline}>
            {
              frontmatter.heading && (
                <p>
                  {frontmatter.heading}
                </p>
              )
            }
        </Brief>  
        )}
        { frontmatter.image && (
                  <Image 
        src={frontmatter.image} 
        alt={frontmatter.imageAlt}
        width={2140}
        height={2140}
        />  
        )}
      </div>
=======
    <Brief title={frontmatter.headline} content={[]}>
      {
        frontmatter.heading && (
          <p>
            {frontmatter.heading}
          </p>
        )
      }
    </Brief>
    <section>
>>>>>>> 1b7c81e (VIP: Add new components to default pages and edit about page)
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
  }
  article {
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    line-height: 1.6;
    letter-spacing: -0.003em;

    display: grid;
    grid-template-columns:
      minmax(auto, 1fr)
      minmax(auto, 60ch)
      minmax(auto, 1fr);
  }
  article :global(> p:first-of-type strong) {
    font-weight: 600;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
  }

  article :global(> p:first-of-type) {
    margin-top: 2em;
  }

  article :global(> p) {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
  }
  article :global(ul > li) {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
  }
  article :global(> pre) {
    padding: 1rem;
  }
  article :global(> h2) {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  article > .hero {
    grid-column: 1 / -1;
  }
  article :global(> *) {
    grid-column: 2;
  }
  article :global(img) {
    width: 100%;
    height: auto;
  }
  article :global(.hero) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

</style>
